*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    width:100vw;
    height:100vh;
    background:linear-gradient(120deg,#ff758c,#ff7eb3,#ffd1dc);
    background-size:300% 300%;
    animation:bgMove 8s infinite;
    overflow:hidden;
    color:white;
}

@keyframes bgMove{
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.romantic-bg{
    position:fixed;
    inset:0;
    background:radial-gradient(circle,rgba(255,255,255,.2),transparent 70%);
}

.story{
    position:relative;
    z-index:2;
    text-align:center;
    padding-top:20vh;
}

h1{
    margin: 0;
    padding: 0;
    font-size:4rem;
    text-shadow:0 0 20px white;
}

.heartbeat{
    animation:beat 1.5s infinite;
}

@keyframes beat{
    0%{transform:scale(1)}
    50%{transform:scale(1.1)}
    100%{transform:scale(1)}
}

.sub{
    margin-top:10px;
    font-size:1.5rem;
}

button{
    margin-top:40px;
    padding:14px 30px;
    font-size:1.1rem;
    border:none;
    border-radius:30px;
    background:#ffe600;
    color:#ff4e91;
    font-weight:bold;
    box-shadow:0 0 20px gold;
}

#imageReveal{
    position:fixed;
    top: 67%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    transition:.6s;
    text-align:center;
    z-index:5;
}

#imageReveal.show{
    transform:translate(-50%,-50%) scale(1);
}

#imageReveal img{
    width:220px;
    border-radius:20px;
    box-shadow:0 0 40px white;
    margin-top: 15px;
}

#typingText{
    margin: top 90px;
    font-size:1.1rem;
    text-shadow:0 0 15px #ff4e91;
    min-height:40px;
}

.cake{
    width: 100px;
    margin: top 50px;
    animation:cakeCut 2s infinite;
}

@keyframes cakeCut{
    0%{transform:rotate(0)}
    50%{transform:rotate(5deg)}
    100%{transform:rotate(0)}
}

#fireworks{
    position:fixed;
    inset:0;
    pointer-events:none;
    z-index:1;
}

.hidden{display:none;}
/* Floating Hearts Background */
.bg-heart {
    position: fixed;
    bottom: -20px;
    font-size: 20px;
    opacity: 0.7;
    animation: heartFloat linear forwards;
    z-index: 1;
    pointer-events: none;
}

@keyframes heartFloat {
    0% {
        transform: translateY(0) scale(0.6);
        opacity: 0.8;
    }
    100% {
        transform: translateY(-120vh) scale(1.4);
        opacity: 0;
    }
}
